body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{

}
.sidebar{
    height: 100%;
    width: 6rem;
   background-color: #eee;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
   z-index: 10;
}
.menubar{
    margin-top: 2rem;
    cursor: pointer;
  
}
.line
{
    height:.2rem;
    width: 1.8rem;
    background-color: #222;
    margin-bottom: 0.4rem;
}
.line-1, .line-3
{
    width: 1.5rem;
    transition: width .3s;
}
.menubar:hover .line{
    width: 2.3rem;
    color: aqua;
}
.icons
{
     height: 25rem;
     padding: 0;
     
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;

    list-style: none;
}
.icon
{
    font-size: 1.5rem;
    color: #777;

}
.icons-link1:hover{
    color:blue;
    
}
.icons-link2:hover{
    color:rgb(137, 23, 244);
}

.icons-link3:hover{
    color:#F4B400;
}

.icons-link4:hover{
    color:goldenrod;
}
.year

{
    font-size:1.2rem ;
    margin-bottom:2rem;
    color: #555;
}

.navig
{
    left: -15rem;

    position: fixed;
    width: 20rem;
    height: 100vh;
    background:url("https://images.unsplash.com/photo-1651352964620-02e69f67d0d5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDUxfHhqUFI0aGxrQkdBfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500") no-repeat;
    background-size: cover;  
    display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
   transition: left 0.8s;

}
.navig-heading
{
    font-family: josefin sans;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: .3rem;
    color: #eee;
    padding:.9rem;
    
}


.navig-form
{
    padding: .5rem;
    position:relative;
}
.navig-input{
    width: 17rem;
   height: 1.9rem;
   border-left: 6.7rem;
    background-color:rgba(0,0,0,.3);
    font-family: sans-serif;
    font-size: 1.5rem;
    color:#deaa86;
    border-radius: 18px;
    border: .1rem solid lightblue;
    transition: background-color .3s;
   
}
.navig-input:focus
{
    background-color: #555;
}
.navig-btn
{
    border: none;
    background-color: transparent;
    color:#deaa86;
    font-size: 1.3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

::placeholder{
    font-size: 1.2rem;
    color: white;
}
.year{
    font-size: 1.5rem;
    color: #777;
}
.nav-list
{
    height: 19rem;
    font-size: 1.3rem;
    list-style: none;
     padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    position: relative;
    transition: width 4s;

    
}
.list-item{
    position: relative;
    
}
.list-link
{
    text-decoration: none;
    color: white;
    letter-spacing: .1em;
    font-size: 1.5rem;
   text-transform:uppercase;
   
   
    
}
.list-link::before{
    content:"";
    width: 0rem;
    height: 0.1rem;
    background-color:#deaa86;
    position: absolute;
    top: .6rem;
    left: -4rem;
    transition: width 1s ease-out;
    
   
}
.list-link::after{
    content:"";
    width: 0rem;
    height: 0.1rem;
    background-color:#deaa86;
    position: absolute;
    top: .6rem;
    right: -4rem;
    transition: width 1s ease-out;
    
   
}
.list-link:hover
{
    
    color: #deaa86;
}
.list-link:hover::before,
.list-link:hover::after
{
    width: 3rem;
}
.checkbox:checked ~ .navig
{
    left:6rem;
}
.checkbox:checked ~.sidebar .line-1
{
    transform: rotate(-405deg) translate(-8px,6px);
}
.checkbox:checked ~.sidebar .line-2
{
    opacity: 0;
}
.checkbox:checked ~.sidebar .line-3
{
    transform: rotate(405deg) translate(-7px,-6px);
}
.rights
{
    font-size: 1rem;
    color: aliceblue;
}
.header
{
    margin-left: 6rem;
    
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.5)),url("https://images.unsplash.com/photo-1651950533563-588a77788a73?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEyfHhqUFI0aGxrQkdBfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500") no-repeat;
  background-size: cover;
  background-position: 100%;
  
}
.logo
{
    display: flex;
    padding: 1rem;
    
    cursor: pointer;
}
.imag
{
    border-radius: 4rem;
    padding: 1rem;
}
.logo-heading
{
    font-size: 1.2rem;
    font-weight: 400;
    color: #F4B400;
    letter-spacing: .2rem;
}
.middle
{ 
     height:80vh;
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.middle-heading
{
     padding: 0rem;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #eee;
    animation: anim 2s;
}
.middle-para{
    font-size: 2rem;
    font-weight: 300;
    color: #eee;
    animation: anim 1.9s .5s backwards;

   
}
.middle-btn
{
    padding: 1rem 2rem;
    width: 13rem;
    border-radius: 20px;
    background: linear-gradient(to right,gold,goldenrod);
    cursor: pointer;
    color: aliceblue;
    border:none;
    outline: none;
    animation: anim 1.4s .5s backwards;
}
.middle-btn:hover{
    background: linear-gradient(to left,gold,goldenrod);
}
.middle-btn:active{
   transform: translateY(.2rem);
}
@keyframes anim
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.aboutus
{
    margin-left:6rem;
    display: flex;
    background: #ddd;
}
.aboutus-content
{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}
.aboutus-heading
{
    font-size: 1.6rem;
    color: #555;
    font-weight: 800;
}
.smalline
{
    width: 9rem;
    height: .2rem;
    margin: 0 auto 1rem auto;
    background-color: #deaa86;
}
.bigline
{
    width: 20rem;
    height: .2rem;
    background-color: #deaa86;
}

.subheading
{
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #555;
}
.aboutus-para
{
    font-size: 1.4rem;
    font-family: italic;
    color: #555;
    align-items: center;
    text-align: center;
}
.aboutus-btn
{ 
     width: 9rem;
     height: 1.9rem;
   
  
   background-color: transparent;
   color: #b85d1c;
   border: .1rem solid #b85d1c;
   cursor: pointer;
   outline: none;
   text-transform: uppercase;

}
 .btn-arrow{
    
      margin-left: .5rem;
      transition: margin-left .4s;
}
.aboutus-btn:hover .btn-arrow
{
    margin-left: 1.5rem;
}

.aboutus-imag
{
    flex: 1 ;
    position: relative;
   
}
.image{
    width:26rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 4rem 6rem rgba(0,0,0,.4);
    border-radius: .5rem;
    border: 2px solid #b85d1c;
}

.image-1
{
    transform: translate(-20% ,-90%);
}
.image-2
{
    transform: translate(-50% ,-50%);

}
.image-3
{
    transform: translate(-70% ,-70%);
}
.image-4
{
    transform: translate(-30% ,-30%);
}
.Rooms
{
    margin-left: 6rem;
   
}
.room-header
{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.room-heading
{
    font-size: 1.7rem;
    color: #444;

}
.rooms-card-group
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
   
}
.room-card-imag
{
    transform: translate scale(30%);
}
.room-card
{
    width: 31.2rem;
    
    margin: 6rem;
    background: #111;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.3);
    border:2px solid #deaa86;
}
.card-content
{
    color: #ddd;
    padding: 1rem;
}
.card-heading
{ 
     
    font-size: 2rem;
    margin: 0;
    font-weight: 300;
}
.card-para
{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 300;
}
.room-price
{
    font-size: 3rem;
    text-align:end;
}
.card-btn
{
    width: 9rem;
     height: 1.9rem;
   
  
   background-color: transparent;
   color: #b85d1c;
   border: .2rem solid #b85d1c;
   cursor: pointer;
   outline: none;
   text-transform: uppercase;
   border-radius: 10px;


}
.card-btn:hover .btn-arrow{
    margin-left: 1.5rem;
}
.room-btn-wraper
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.room-btn{
    align-items: center;
    width: 9rem;
    height: 2.5rem;
    background: #ddd;
    color: #b85d1c;
    text-align: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 3px #deaa86;
  border:2px solid #deaa86;
  margin-bottom: 2rem;
}
.room-btn:hover .btn-arrow
{
    margin-left: 1.5rem;
}
.ch{
    color: #ddd;
}
.cheader
{
    margin-top:-9rem;
}
.customers{
    width:90rem;
    height: 30rem;
    margin-left:rem;
   padding: 8rem;
    background-color: #333;
}

.row{
    display: flex;
    
    width: 3200px;
    
   margin-top: -24%;
   transition: .5s;

}
.col{
    display:flex;
    position: relative;
    width: 800px;
    height: 400px;
    padding-left: rem;
    margin-top: 12rem;
    align-items: center;
    
}
.customer-image
{
    right: 0;
    top: 0;
    margin-left:-1.5rem;
    height: 100%;

}
.customer-image img {
    height: 100%;
    border-radius:10px;
}
.customer-content
{
    width: 540px;
    height: 270px;
    background:#2d3a59 ;
    border-radius: 10px;
    padding: 45px;
    top: 0%;
    left: 0%;
    
    box-sizing: border-box;
    color: #d3d4d6;
    z-index: 19;
   
}
.customer-cont
{
    width: 800px;
    height: 400px;
    position: absolute;
   margin-top: 0%;
   margin-left: 20%;
  
}
.indicator
{
    position: absolute;
    margin-top: 24rem;
    margin-left: 19rem;
    z-index: 999;
}
.btn

{
 
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: .5s;
}
.test{
    overflow:hidden;
}



.active{
    width: 45px;
}


.footerclass
{
    width: 100rem;
    height: 30rem;
    background: #222;
    margin-left: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.footer-list ,li
{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:flex-start;
    text-align: center;
}
.footer-list-link 
{
    color:blue;
    font-size: 1.5rem;
    padding:1rem ;
  text-decoration: none;
}
.footer-heading

{
    font-size: 2rem;
    color:#ddd;
    z-index: 20;
}
.footer-image-list
{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    
  
}
.footer-image
{
    width: 50%;
    
}
.footer-gallery
{
    
    width: 30%;
    height: 20rem;

}
.footer-part2
{  width: 20%;
    height: 60%;
    
   
    
}
.footer-signup
{
    padding: 3rem;
    display: flex;  flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
input{
 padding: .5rem 1.5rem;
 border-radius: 5rem;
 outline: none;
 border:2px solid #b85d1c;
}
.footer-btn
{
    width: 7rem;
    height:2rem ;
    border-radius: 5rem;
    color: #ddd;
    cursor: pointer;
    background:linear-gradient(to left,red,tomato) ;
   
}
.footer-btn:hover
{
    background:linear-gradient(to top,red,tomato) ;
}
